:root {
  --main-bg: teal;
}
/* this file applies to all pages/components */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color:violet;
}

body {
  background-color: darkgoldenrod;
}
* {
  box-sizing: border-box;
}
.center {
  display: flex;
  align-items: center;
  /* justify-contents: justify */
}
